[final_oauth_config]
oauth_private_key_file_path=<private key file path>
oauth_token=<oauth token that was generated using oauth2_key_secret_generation.py>
oauth_token_secret=<oauth secret token that was generated using oauth2_key_secret_generation.py>
consumer_key=<consumer key that your Jira Admin registered during Application link creation!>
jira_base_url=<jira application base url>